# Unit matching matrix

In [6]:
import os
import spikeinterface as si
import shutil
from spikeinterface import comparison


# SET PROJECT PATH
PROJ_PATH = "/gpfs/bbp.cscs.ch/project/proj85/home/laquitai/preprint_2023"
os.chdir(PROJ_PATH)
from src.nodes.utils import get_config
from src.nodes.postpro.cell_matching import get_SpikeInterface_matching_object

# npx-384-40KHz (to maximize sorting accuracy see SUPP. FIG)
data_conf_stim, _ = get_config("silico_neuropixels", "stimulus").values()
KS3_SORTING_PATH_stim = data_conf_stim["sorting"]["sorters"]["kilosort3"]["output"]
GT_SORTING_PATH_stim = data_conf_stim["sorting"]["simulation"]["ground_truth"]["output"]


# SETUP WRITE MATH
data_path = (
    "/gpfs/bbp.cscs.ch/project/proj85/scratch/laquitai/for_James/unit_matching.csv"
)

2024-02-01 09:15:35,872 - root - utils.py - get_config - INFO - Reading experiment config.
2024-02-01 09:15:35,941 - root - utils.py - get_config - INFO - Reading experiment config. - done

In [8]:
# get unit matching
matching = get_SpikeInterface_matching_object(
    GT_SORTING_PATH_stim, KS3_SORTING_PATH_stim
)
matching.agreement_scores

,0,1,2,3,4,5,6,7,8,9,...,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622
12165,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
15894,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
16652,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
17923,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
18371,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4223302,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
4225319,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
4228700,0.000313,0.000294,0.0,0.0,0.000591,0.0,0.0,0.000404,0.0,0.000752,...,0.0,0.000169,0.0,0.00000,0.0,0.0,0.00017,0.0,0.0,0.000146
4229218,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
4229506,0.000424,0.000725,0.0,0.0,0.000679,0.0,0.0,0.000341,0.0,0.000000,...,0.0,0.000000,0.0,0.00106,0.0,0.0,0.00000,0.0,0.0,0.000358

In [9]:
# write
matching.agreement_scores.to_csv(data_path)

In [11]:
import pandas as pd

pd.read_csv(data_path)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622
0,12165,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
1,15894,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
2,16652,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
3,17923,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
4,18371,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,4223302,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
1832,4225319,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
1833,4228700,0.000313,0.000294,0.0,0.0,0.000591,0.0,0.0,0.000404,0.0,...,0.0,0.000169,0.0,0.00000,0.0,0.0,0.00017,0.0,0.0,0.000146
1834,4229218,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.000000
1835,4229506,0.000424,0.000725,0.0,0.0,0.000679,0.0,0.0,0.000341,0.0,...,0.0,0.000000,0.0,0.00106,0.0,0.0,0.00000,0.0,0.0,0.000358