In [1]:
import numpy as np
import pandas as pd

In [2]:
spikes = pd.DataFrame(np.load('./spikes.npy'))

In [3]:
spikes

        sample_index  unit_index  segment_index
0                193         510              0
1                245         994              0
2                249        1119              0
3                280        1312              0
4                525         584              0
...              ...         ...            ...
987069      82319470         964              0
987070      82319501        1108              0
987071      82319622        1144              0
987072      82319804         703              0
987073      82319846         738              0

[987074 rows x 3 columns]

In [6]:
np.unique(spikes['unit_index'])

array([   0,    1,    2, ..., 1385, 1386, 1387])